
 /*   F O N T S   */

@font-face {
  font-family: digital;
  src: url(/static/digital.ttf);
}



 /*   L A Y O U T    */

html, body {
  height: 100%;
  background-color: #333;
  color: #fff;
  text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
}

.cover-container {
  background-color: #ffffff05;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  min-height: 100%;
  height: auto;
  max-width: 950px;
  overflow: auto;
  border-width: 2px;
  border-style: solid;
  border-image: linear-gradient(to bottom, DarkSalmon, LightCyan) 1 100%;
  box-shadow: inset 0 0 4rem rgba(10, 10, 10, .4);
}



 /*   H E A D E R   */

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.logo {
  margin: 1rem;
}

.nav-masthead {
  margin: 1rem;
}

.nav-masthead .nav-link {
  margin-left: 1rem;
  padding: .25rem 0;
  font-weight: 700;
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.05rem;
  color: rgba(255, 255, 255, .5);
  background-color: transparent;
  border-bottom: .25rem solid transparent;
  border-radius: 3px;
}

.nav-masthead .nav-link:hover {
  border-bottom-color: rgba(255, 255, 255, .25);
}

.nav-masthead .nav-link:focus {
  border-bottom-color: rgba(255, 255, 255, .5);
}

.nav-masthead .nav-link + .nav-link {
  margin-left: 1rem;
}

.nav-masthead .active {
  color: #eee;
  border-bottom-color: #eee;
}



 /*   M A I N   */

main {
  display: block;
  flex: 1;
}



 /*   F O O T E R   */

.footer-container {
  text-align: center;
  color: rgb(255, 255, 255);
  color: rgba(255, 255, 255, .5);
}

.footer-text {
  top: 50%;
  margin: 1rem;
}

.mail {
  width: 1.75em;
  margin-bottom: 0.3em;
  margin-left: 0.3em;
}



 /*   H O M E   */

.homediv {
  text-align: center;
  max-width: 90%;
  margin: 4rem auto;
  padding: 1rem;
}

.cover-heading {
  margin: 1rem auto 2rem;
}

.lead {
  margin: 1rem auto;
}

.instructions {
  font-size: 1rem;
  font-weight: 300;
  margin: 1rem auto;
}

.btn-light {
  border: 3px solid #222;
}

.btn-light:hover {
  border: 3px solid #fff;
  background-color: #ced4da;
}

.registerlink {
  color: #fff;
  font-weight: 500;
  font-size: 1.3rem;
  text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
  transition: all 0.3s ease-out;
}

.registerlink:hover {
  color: #fff;
  text-shadow: 0 0 1rem rgba(240, 240, 240, .2);
  text-decoration: none;
}

.alert_home {
  text-align: center;
  width: 75%;
  margin: 0 auto 1rem;
  font-size: 1rem;
}



 /*   G A M E   */

.timepoints  {
  height: 12.5%;
  display: flex;
  justify-content: space-around; /* fallback for IE */
  justify-content: space-evenly;
  font-family: 'Roboto', sans-serif;
  text-align: center;
  margin: 0.75rem 0;
}

.timepoints_text {
  font-weight: 400;
}

.timer {
  display: block;
  padding: 0.75rem;
  border: 1px dotted white;
  box-shadow: 0px 4px 4px #111;
}

.points {
  display: block;
  padding: 0.75rem;
  border: 1px dotted white;
  box-shadow: 0px 4px 4px #111;
}

.numbers {
  font-family: digital;
  font-size: 2.3rem;
  font-weight: 400;
  line-height: 0.8;
}

.gametable {
  height: 87.5%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-content: space-evenly;
  margin: 0.75rem 0;
}

.flip-card {
  max-width: calc(100% / 6);
  width: 150px;
  max-height: calc(100vh / 9);
  height: 107px;
  perspective: 600px;
  position: relative;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  cursor: pointer;
  border-radius: 1.5rem;
  margin: 2px;
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-front img,
.flip-card-back img {
  width: 100%;
  height: 100%;
  border-radius: 1.5rem;
  border: 2px solid #ddd;
  box-shadow: 4px 4px 4px #222;
}

.flip-rotate {
  transform: rotateY(180deg);
}

.flip-card-back {
  transform: rotateY(180deg);
}



 /*   M O D A L   */

.modal-content {
  background-color: #292929f0;
  border-radius: 1rem;
}

.modal-content .btn-dark {
  border: 1px solid grey;
}

.modal-content .btn-dark:hover {
  border: 1px solid #ddd;
}

.modal-content .points_input {
  all: initial;
  width: 0px;
  height: 0px;
  display: none;
}



 /*   L O G I N   &   R E G I S T E R   F O R M S   */

.form_div {
  width: 60%;
  margin: 0 auto;
  margin-top: 2rem;
  padding: 1rem;
}

.form_div_title {
  margin-bottom: 2rem;
  font-family: 'Lato', sans-serif;
  text-align: center;
  font-weight: 400;
  letter-spacing: 5px;
}

.form-control:focus {
  color: #495057;
  background-color: #fff;
  border-color: #fff;
  outline: 0;
  outline-width: 0px;
  box-shadow: 0 0 3px 0.2rem rgba(255,255,255,0.25);
}

.form_div .btn-dark {
  width: 100%;
  border: 1px solid white;
}

.form_div .btn-dark:hover {
  border: 1px solid #ddd;
}

.alert_form {
  font-size: 1rem;
  text-align: center;
}

.passinformation {
  margin-top: 1rem;
  text-align: center;
}

.passhashlink {
  color: #fff;
  font-weight: 500;
  font-size: 1.3rem;
  text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
  transition: all 0.3s ease-out;
}

.passhashlink:hover {
  color: #fff;
  text-shadow: 0 0 1rem rgba(240, 240, 240, .2);
  text-decoration: none;
}



 /*   L E A D E R B O A R D   */

.leaderboard_div {
  padding: 1rem;
}

.leaderboard_title {
  margin: 1rem;
  font-family: 'Lato', sans-serif;
  text-align: center;
  font-weight: 400;
  letter-spacing: 5px;
}

.leaderboard {
  width: 80%;
  margin: 0 auto;
  border-radius: 1rem;
  text-align: center;
}

.leaderboard .column {
  width: calc(100% / 3);
}




 /*   A C C O U N T   */

.form-group label{
  text-align: left;
  font-size: 1.2rem;
  margin-top: 2rem;
}




 /*   R E S P O N S I V E   */

/* Laptops with height lower than 700px */
@media only screen and (min-width: 800px) and (max-height: 700px) {
  .cover-container {
    max-width: 700px;
  }

  .timepoints_text, numbers {
    display: inline-block;
    margin: 0 1rem;
  }

  .flip-card {
    max-width: calc(100% / 7);
    max-height: calc(100vh / 8);
  }

  .flip-card-front img,
  .flip-card-back img {
  box-shadow: 2px 2px 2px #222;
  }

  .homediv {
    margin: 1rem auto;
  }
}


/* Cellphones in portrait mode */
@media only screen and (max-width: 480px) {

  .header-container {
    flex-flow: column;
    align-items: center;
    justify-content: space-evenly;
  }

  .logo {
    width: 150px;
    margin: 0.5rem 0 0.2rem;
  }

  .nav-masthead {
    margin: 0.2rem 0 0.5rem;
  }

  .nav-masthead .nav-link {
    font-size: 0.75rem;
  }

  .homediv {
    margin: 0 auto;
  }

  .leaderboard_title {
    display: none;
  }

  .leaderboard {
    font-size: 0.7rem;
    line-height: 2vh;
    width: 90%;
  }

  .form_div {
    width: 90%;
  }

  h3, .numbers {
    font-size: 1rem;
    line-height: 0.8;
  }

  .flip-card {
    max-width: calc(100% / 6);
    max-height: calc(100vh / 13);
  }

  .flip-card-front img,
  .flip-card-back img {
  box-shadow: 2px 2px 2px #222;
  }
}

/* Cellphones in landscape mode */
@media only screen and (max-height: 480px) {
  .cover-container {
    max-width: 700px;
  }

  .homediv {
    margin: 0 auto;
  }

  .timepoints_text, numbers {
    display: inline-block;
    margin: 0 1rem;
  }

  .flip-card {
    max-width: calc(100% / 7);
    max-height: calc(100vh / 5);
  }

  .flip-card-front img,
  .flip-card-back img {
  box-shadow: 2px 2px 2px #222;
  }

  .form_div {
    width: 80%;
    margin: 0 auto;
  }
}